.Quiz {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  flex-grow: 1;
  background: linear-gradient(90deg, #1f1f1f 0%, #986868d6 100%);
}

.Title {
  color: white;
}

.Wrapper {
  width: 80%;
}
