.FinishedQuiz {
  padding: 20px;
  color: white;
  border: 3px solid #ffffffa8;
  margin: 0 10px;
  position: relative;
  border-radius: 10px;
}

.FinishedQuiz ul {
  list-style: none;
  padding: 0;
  margin: 0;
  list-style: none;
}

.FinishedQuiz ul li {
  display: flex;
  justify-content: space-between;
  max-width: 300px;
  line-height: 1.6;
  align-items: center;
}

.QuestionName {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  margin-left: 10px;
  flex: 1;
}

.svg {
  margin-left: 10px;
}

.success {
  color: #39c383;
}

.error {
  color: #cc1818;
}
