.AnswerItem {
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 5px 10px;
  margin-bottom: 5px;
  cursor: pointer;
}

.AnswerItem:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transition: background 0.3s easy-in-out;
}

.AnswerItem.success {
  background-color: #22a76961;
}

.AnswerItem.error {
  background-color: #7b1d1d66;
}
