.AnswerItem {
  padding: 5px 10px;
  margin-bottom: 15px;
  cursor: pointer;
  transition: 0.3s;
  border: 1px solid #ffffff59;
}

.AnswerItem:hover {
  background-color: #ffffff1a;
}

.AnswerItem.success {
  background-color: #2ead1fb3;
}

.AnswerItem.error {
  background-color: #b32222a6;
}
