.ActiveQuiz {
  padding: 20px;
  color: #fff;
  border: 1px solid #b9b9b987;
  margin: 0 10px;
}

.Question {
  display: flex;
  justify-content: space-between;
}

.Body {
  white-space: pre;
  background: linear-gradient(-90deg, #b9b9b924 0%, #ffffff00 100%);
  padding: 25px;
  margin: 20px 0;
}
